<%= form_tag(sub_reddit_post_comments_path(post_id: post_id)) do %>
    <% fields_for :comment do |f| %>
        <% if parent_id %>
            <%= f.hidden_field(:parent_id, :value => parent_id) %>
        <% end %>
        <div class="row margin-bottom-20">
            <div class="form-group">
                <div class="col-xs-6 col-md-3">
                    <%= f.label(:name, "Name") %>
                </div>
                <div class="col-xs-6 col-md-3">
                    <%= f.text_field(:name, :class => "form-control") %>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="form-group">
                <div class="col-xs-6 col-md-3">
                    <%= f.label(:email, "Your email address") %>
                </div>
                <div class="col-xs-6 col-md-3">
                    <%= f.text_field(:email, :class => "form-control") %>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="form-group">
                <div class="col-xs-6 col-md-3">
                    <%= f.label(:link, "Include a Link") %>
                </div>
                <div class="col-xs-6 col-md-3">
                    <%= f.text_field(:link, :class => "form-control") %>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="form-group">
                <div class="col-xs-6 col-md-3">
                    <%= f.label(:text, "Your Comment") %>
                </div>
                <div class="col-xs-6 col-md-3">
                    <%= f.text_area(:text, :class => "form-control") %>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-xs-6 col-xs-offset-6 col-md-3 col-md-offset-3">
                <%= f.submit("Add a comment", :class => "btn btn-sm btn-primary") %>
            </div>
        </div>
    <% end %>
<% end %>
