<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><%= comment.name %> says:</h3>
    </div>
    <div class="panel-body">
        <p><%= comment.text %></p>
        <%= link_to("Visit my site", comment.link, :class => "btn btn-sm btn-info") %>
    </div>
    <div class="panel-footer">
        posted <%= comment.created_at.to_formatted_s %>
        <button class="btn pull-right btn-sm btn-default add-comment" data-add-label="Add reply">Add reply</button>
        <div class="collapse comment-form">
            <%= render(:partial => 'comments/form', :locals => {:post_id => comment.post_id, :parent_id => comment.id}) %>
        </div>
    </div>
</div>

<ul>
    <% comment.comments.each do |reply| %>
        <li><%= render(:partial => 'comments/show', :locals => {:comment => reply}) %></li>
    <% end %>
</ul>
