<div class="row">
    <div class="col-xs-6">
        <h2>All topics</h2>
    </div>
    <div class="col-xs-6">
        <%= link_to("Create new topic", new_sub_reddit_path(), :class => "pull-right btn btn-default margin-top-20") %>
    </div>
</div>

<div class="row margin-top-40">
    <% @sub_reddits.each do |sub_reddit| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= sub_reddit.title %></h3>
                </div>
                <div class="panel-body">
                    <p><%= truncate(sub_reddit.description) %></p>
                    <%= link_to("View topic", sub_reddit_path(sub_reddit), :class => "pull-right btn btn-info margin-top-20") %>
                </div>
            </div>
        </div>
    <% end %>
</div>
