<div class="row">
    <div class="col-xs-12">
        <p><%= link_to("<span class=\"glyphicon glyphicon-arrow-left\"></span>Back to topics".html_safe, sub_reddits_path(), :class => "btn btn-default margin-top-20") %></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2><%= @sub_reddit.title %></h2>
    </div>
    <div class="col-xs-6">
        <%= link_to("Create a new Post", new_sub_reddit_post_path(@sub_reddit), :class => "pull-right btn btn-default margin-top-20") %>
    </div>
</div>

<div class="row margin-top-40">
    <% @sub_reddit.posts.each do |post| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= post.title %></h3>
                </div>
                <div class="panel-body">
                    <p><%= truncate(post.description) %></p>
                    <%= link_to("View full post", sub_reddit_post_path(@sub_reddit, post), :class => "btn btn-info pull-right margin-top-20") %>
                </div>
            </div>
        </div>
    <% end %>
</div>
