<div class="row">
    <div class="col-xs-12">
        <p><%= link_to("<span class=\"glyphicon glyphicon-arrow-left\"></span>Back to topic".html_safe, sub_reddit_path(@sub_reddit), :class => "btn btn-default margin-top-20") %></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Create Post</h2>
    </div>
</div>

<%= form_for(@post, url: sub_reddit_posts_path) do |f| %>
<div class="row form-group margin-bottom-20 margin-top-40">
    <div class="col-xs-6 col-md-3">
        <%= f.label(:title, "Post Title") %>
    </div>
    <div class="col-xs-6 col-md-3">
        <%= f.text_field(:title, :class => "form-control") %>
    </div>
</div>

<div class="row form-group margin-bottom-20">
    <div class="col-xs-6 col-md-3">
        <%= f.label(:link, "Link") %>
    </div>
    <div class="col-xs-6 col-md-3">
        <%= f.text_field(:link, :class => "form-control") %>
    </div>
</div>

<div class="row form-group margin-bottom-20">
    <div class="col-xs-6 col-md-3">
        <%= f.label(:description, "Description") %>
    </div>
    <div class="col-xs-6 col-md-3">
        <%= f.text_area(:description, :class => "form-control") %>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-md-3 col-md-offset-3">
        <%= f.submit("Create Post", :class => "btn btn-sm btn-primary") %>
    </div>
</div>

<% end %>
