<div class="row">
    <div class="col-xs-12">
        <p><%= link_to("<span class=\"glyphicon glyphicon-arrow-left\"></span>Back to topics".html_safe, sub_reddit_path(@post.sub_reddit), :class => "btn btn-default margin-top-20") %></p>
    </div>
</div>

<div class="row margin-bottom-40">
    <div class="col-xs-12">
        <h2><%= @post.title %></h2>
        <p><%= @post.description %></p>
        <p><%= link_to("View site", @post.link, :class => "btn btn-info") %></p>
    </div>
</div>

<div class="row margin-bottom-40">
    <div class="col-xs-12">
        <h3>Comments</h3>
    </div>
</div>

<button class="btn btn-sm btn-default add-comment margin-bottom-40" data-add-label="Add comment">Add comment</button>
<div class="collapse comment-form">
    <%= render(:partial => 'comments/form', :locals => {:post_id => @post.id, :parent_id => false}) %>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul>
            <% @comments.each do |comment| %>
                <li><%= render(:partial => 'comments/show', :locals => {:comment => comment}) %></li>
            <% end %>
        </ul>
    </div>
</div>
