<!DOCTYPE html>
<html>
<head>
    <title>Freddit</title>
    <%= csrf_meta_tags %>

    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <div class="container">
            <h1><%= link_to("Freddit", root_path) %></h1>
        </div>
    </header>
    <div class="container">
        <% if flash[:notice] %>
            <div class="alert alert-success margin-top-20" role="alert">
                <strong>Success</strong> <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-danger margin-top-20" role="alert">
                <strong>Error</strong> <%= flash[:error] %>
            </div>
        <% end %>
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
        <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
